body {
  margin: 0;
  overflow: hidden;
  font-family: 'Nunito', sans-serif;
}
pre {
  font-size: 7em;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text {
  fill: #635f5d;
}
.mark path {
  stroke: #BC2E21;
  stroke-width: 5;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.mark rect {
  fill: #B3c5AE;
}

.label {
  fill: #635f5d;
  font-size: 1.75em;
}
